button {
    margin-bottom: 12px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

.btn-danger {
    margin-left: 12px;
}

.img-responsive {
    max-height: 200px;
}

.description {
    margin-top: 12px;
}